    .todoitem {
      margin-top: 10px;
      align-items: center;
      width: 700px;
      height: 40px;
      box-sizing: border-box;
      padding: 0 12px;
      display: flex;
      justify-content: space-between;
    }
    .itemCompleted{
        border-left: 4px solid green;
    }
    .itemNoCompleted{
        border-left: 4px solid #5c5c5c;
    }
    .id {
        padding-right: 10px;
    }
    .ok {
        color: rgb(38, 206, 38);
        cursor: pointer;
    }
    .ok:hover {
        color: rgb(6, 134, 6);
    }
    .ok:active{
        border-top: 1px solid rgb(1, 119, 1);
    }
    
    .delete {
        color: rgb(255, 62, 62);
        cursor: pointer;
    }
    .delete:hover{
        color:rgb(153, 1, 1);
        
    }
    .delete:active{
        border-top: 1px solid rgb(255, 0, 0);
    }

    .desc{
        padding-left: 40px;
        transition: all 1s ease-out;
    }

    .btn-desc{
        margin-right: 10px;
        color: #4b4b4b;
    }

    .btn-desc:hover{
        color: #838383;
        cursor: pointer;
    }